{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot4()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
</head>
<body>
{ZL.Label id="全站头部"/}

<main class="col-12 col-md-12 col-xl-12" role="main" style="padding:0;">
<div class="body">
<div class="container mt-4">
<div class="row">
<div class="col-3 about_l">
<ul class="list-unstyled">
<li class="media">
<span class="mr-3">Guitar</span>
<div class="media-body">
<p>Lakewood m48cp个人签名款</p>
<p>Fuji手工定制款</p>
<p>Syairi巴玫个人定制款式</p>
<p>Morris SJ171 </p>
<p>St. Mark’s Gospel st200</p>
</div>
</li>
<li class="media">
<span class="mr-3">AMPS</span>
<div class="media-body">
<p>AER Compact 60 OMH</p>
<p>CARLSBRO sherwood 60r</p>
<p>LSM freeman100</p>
</div>
</li>
<li class="media">
<span class="mr-3">Pickup</span>
<div class="media-body">
<p>L.R.Baggs Anthem 压感+麦克</p>
<p>Sunrise S2+OVAL</p>
<p>Seymour Duncan Mag Mic </p>
<p>Morris SJ171 </p>
<p>St. Mark’s Gospel st200</p>
</div>
</li>
<li class="media">
<span class="mr-3">Guitar</span>
<div class="media-body">
<p>Lakewood m48cp个人签名款</p>
<p>Fuji手工定制款</p>
<p>Syairi巴玫个人定制款式</p>
<p>Morris SJ171 </p>
<p>St. Mark’s Gospel st200</p>
</div>
</li>
<li class="media">
<span class="mr-3">Guitar</span>
<div class="media-body">
<p>Lakewood m48cp个人签名款</p>
<p>Fuji手工定制款</p>
<p>Syairi巴玫个人定制款式</p>
<p>Morris SJ171 </p>
<p>St. Mark’s Gospel st200</p>
</div>
</li>
</ul>
</div>
<div class="col-9 about_r">
<h3>陈亮<span>男</span><span>汉族</span><span>1985.01.01</span></h3>
<div class="row">
<div class="col-7">
<ul>
<li><a href="#">2001年在长春开始学习吉他演</a></li>
<li><a href="#">2001年在长春开始学习吉他演</a></li>
<li><a href="#">2001年在长春开始学习吉他演</a></li>
<li><a href="#">2001年在长春开始学习吉他演</a></li>
<li><a href="#">2001年在长春开始学习吉他演</a></li>
<li><a href="#">2001年在长春开始学习吉他演</a></li>
<li><a href="#">2001年在长春开始学习吉他演</a></li>
<li><a href="#">2001年在长春开始学习吉他演</a></li>
<li><a href="#">2001年在长春开始学习吉他演</a></li>
<li><a href="#">2001年在长春开始学习吉他演</a></li>
<li><a href="#">2001年在长春开始学习吉他演</a></li>
<li><a href="#">2001年在长春开始学习吉他演</a></li>
<li><a href="#">2001年在长春开始学习吉他演</a></li>
</ul>
</div>
<div class="col-5">
<div class="about_r_img">
<img src="{$CssDir/}images/ckchen.jpg" alt="" />
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</main>
{ZL.Label id="全站底部"/}
<style>
body { background:#1E1432;}
.body { border-top:1px #503C78 solid;}
</style>
</body>
</html>